:root {
    --image-width: 1024px;
}

img {
    width: 1024px;
}


.container {
    position: relative;
    margin: auto;
    width: 1024px;
    height: 683px;
    overflow: hidden;
    display: flex;
}

.arrow {
    position: absolute;
    color: white;
}

    .arrow svg {
        height: 48px;
        width: 48px;
    }

    .left-arrow {
        top: 50%;
        left: 24px;
    }

    .right-arrow {
        top: 50%;
        right: 24px;
    }

.nav-dots {
    display: flex;
    gap: 5px;
    position: absolute;
    color: white;
    left: 50%;
    bottom: 24px;
}

    .dot {
        width: 8px;
        height: 8px;
        background: transparent;
        border: white solid 1px;
        border-radius: 50%;
        margin: 0 3px;
        cursor: pointer;
    }
    
    .active-dot {
        background: white;
        cursor: default;
    }

.carousel {
    display: flex;
    position: relative;
    transition: transform 1s ease-in-out;
};